@{
	ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://thumbs.dreamstime.com/b/abstract-background-white-film-strip-frame-clapper-board-isolated-white-background-design-template-cinema-space-139079299.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
    }

    h1 {
        font-size: 36px;
        color: #333;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        color: #666;
        margin-bottom: 10px;
    }
</style>

<div class="container">
<h1>Welcome to my MovieProject!</h1>
<p>Explore a world of movies, directors, and more.</p>
<p>Start by browsing our collection of movies or search for your favorite director.</p>
<p>Enjoy your movie experience!</p>
</div>


